<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
    >

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <file>src/ServiceProvider.php</file>
                <directory>src/Facades</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Arrounded Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
